<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!--<head>-->
<!--<title>Hello Spring Security</title>-->
<!--<meta charset="utf-8" />-->
<!--<link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />-->
<head th:include="owner/checkTasks::head"></head>
<body>

<!--<h1>Hello Spring Security</h1>-->
<!--<p>这个界面没有受保护，你可以进已被保护的界面.</p>-->


<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a th:fragment="navbar-brand" class="navbar-brand" href="#"><strong><i class="icon fa fa-plane"></i>403组积分系统</strong></a>

            <!--<div id="sideNav" href="">-->
            <!--<i class="fa fa-bars icon"></i>-->

            <!--</div>-->
        </div>


        <ul th:fragment="navbar" class="nav navbar-top-links navbar-right">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li class="divider"></li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#passwordModal"><i
                                class="fa fa-sign-out fa-fw"></i> 修改密码</a>

                    </li>
                    <li>
                        <form action="#" id="outfrom" th:action="@{/logout}" method="post">
                            <a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </form>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a href="index.html" th:href="@{/pool/}"><i class="fa fa-dashboard"></i> 任务池</a>
                </li>
                <li>
                    <a class="active-menu" href="ui-elements.html" th:href="@{/mytasks/}"><i class="fa fa-desktop"></i>
                        我的任务</a>
                </li>
                <li>
                    <a href="ui-elements.html" th:href="@{/check/}"><i class="fa fa-sitemap"></i> 任务审核</a>
                </li>
                <!--<li>-->
                <!--<a href="ui-elements.html"><i class="fa fa-desktop"></i> 下任务</a>-->
                <!--</li>-->

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                <div th:fragment="logout" sec:authorize="isAuthenticated()">
                    登录用户: <span sec:authentication="name"></span> |
                    用户角色: <span sec:authentication="principal.authorities"></span>

                </div>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">我的任务</li>
            </ol>

        </div>
        <div class="modal fade" th:fragment="editPasswd" id="passwordModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="passwd">


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">Close
                        </button>
                        <button type="button" class="btn btn-primary surePasswd"
                        >确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-inner">
            <div th:if="${taskModel.task!=null}" th:include="user/taskDetail::detail"></div>

            <div class="col-md-12">
                <!--    Bordered Table  -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        任务列表
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-offset-7 col-sm-5">
                                <h2 th:text="'总积分：'+${taskModel.myTaskcount}+'分'"></h2>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th width="9%">#</th>
                                    <th width="11%">项目名称</th>
                                    <th width="11%">任务名称</th>
                                    <th width="11%">描述</th>
                                    <th width="11%">开始时间</th>
                                    <th width="11%">截止时间</th>
                                    <th width="11%">领取人</th>
                                    <th width="11%">组长</th>
                                    <th width="11%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="task,iterStat: ${taskModel.taskList}"
                                th:class="${task.istimeOut}?'warning'">
                                    <td th:text="${iterStat.index}+1">0</td>
                                    <td th:text="${task.project.projectName}+1">0</td>
                                    <td th:text="${task.taskName}"></td>
                                    <td th:text="${task.remark}"></td>
                                    <td th:text="${task.bDate!=null}?${#dates.format(task.bDate,'yyyy-MM-dd HH:mm')}:''"></td>
                                    <td th:text="${task.eDate!=null}?${#dates.format(task.eDate,'yyyy-MM-dd HH:mm')}:''"></td>
                                    <td th:text="${task.receivers[0].cname}"></td>
                                    <td th:text="${task.project.user.cname}"></td>
                                    <td>
                                        <a href="#" th:href="@{'/mytasks/'+${task.taskId}}"
                                           class="btn btn-primary detail">详情</a>
                                        <a th:if="${task.finish==1}" href="#" data-toggle="modal" data-target="#myModal"
                                           class="btn btn-primary done" th:data="${task.taskId}">办结</a>
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">请确认</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h3>请仔细确认是否办结</h3>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary sure"
                                                        >确认
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--  End  Bordered Table  -->
            </div>
        </div>


        <footer th:fragment="copyright">
            <p>Copyright &copy; 2018.By liuyf
            </p>
        </footer>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->

<div th:replace ="owner/checkTasks::js1"></div>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        $("#logout").click(function () {
            $("#outfrom").submit();
        });
        $(".done").click(function () {
            $(".sure").attr("data", $(this).attr("data"));
        })
        $(".sure").click(function () {
            $.get("/mytasks/done", {task_id: $(this).attr("data")}, function (d) {
                window.location.href = "/mytasks/"
            });
        });
        $(".surePasswd").click(function () {
            $.get("/editPassword", {passwd: $("#passwd").val()}, function (d) {
                alert("修改成功");
            });

        });
        var t = $('#dataTables-example').dataTable(
            {
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.16/i18n/Chinese.json'
                },
                autoWidth: false,  //禁用自动调整列宽
                stripeClasses: ["odd", "even"],  //为奇偶行加上样式，兼容不支持CSS伪类的场合
                processing: true,  //隐藏加载提示,自行处理
                searching: false,  //禁用原生搜索
                orderMulti: false,  //启用多列排序
                order: [],  //取消默认排序查询,否则复选框一列会出现小箭头
                renderer: "bootstrap",  //渲染样式：Bootstrap和jquery-ui
                pagingType: "simple_numbers",  //分页样式：simple,simple_numbers,full,full_numbers
            }
        ).api();
    })
</script>
<!-- Metis Menu Js -->
<div th:replace ="owner/checkTasks::js2"></div>

</body>
</html>
