<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="owner/checkTasks::head"></head>
<body>

<!--<h1>Hello Spring Security</h1>-->
<!--<p>这个界面没有受保护，你可以进已被保护的界面.</p>-->


<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a th:replace="user/myTasks::navbar-brand"></a>
            <!--<div id="sideNav" href="">-->
            <!--<i class="fa fa-bars icon"></i>-->

            <!--</div>-->
        </div>


        <ul th:replace="user/myTasks::navbar"></ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a class="active-menu" href="index.html" th:href="@{/pool/}"><i class="fa fa-dashboard"></i> 任务池</a>
                </li>
                <li>
                    <a href="ui-elements.html" th:href="@{/mytasks/}"><i class="fa fa-desktop"></i> 我的任务</a>
                </li>
                <li>
                    <a href="ui-elements.html" th:href="@{/check/}"><i class="fa fa-sitemap"></i> 任务审核</a>
                </li>
                <!--<li>-->
                    <!--<a href="ui-elements.html" th:href="@{/test/}"><i class="fa fa-desktop"></i> 任务测试</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="ui-elements.html"><i class="fa fa-desktop"></i> 下任务</a>-->
                <!--</li>-->

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                <div th:fragment="logout" sec:authorize="isAuthenticated()">
                    登录用户: <span sec:authentication="name"></span> |
                    用户角色: <span sec:authentication="principal.authorities"></span>

                </div>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">任务池</li>
            </ol>

        </div>
          <div th:replace="user/myTasks::editPasswd"></div>
        <div id="page-inner">
            <div th:if="${taskModel.task!=null}" th:include="user/taskDetail::detail"></div>
            <div class="col-md-12">
                <!--    Bordered Table  -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        待领任务
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive table-bordered">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>任务名称</th>
                                    <th>创建时间</th>
                                    <th>项目名</th>
                                    <th>组长</th>
                                    <th>操作</th>

                                </tr>
                                </thead>
                                <tbody class="result">
                                <tr th:each="task,iterStat: ${taskModel.taskList}">
                                    <td th:text="${iterStat.index}+1">0</td>
                                    <td th:text="${task.taskName}"></td>
                                    <td th:text="${task.cDate!=null}?${#dates.format(task.cDate,'yyyy-MM-dd HH:mm')}:''"></td>
                                    <td th:text="${task.project.projectName}"></td>
                                    <td th:text="${task.project.user.cname}"></td>

                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#myModal"
                                           class="btn btn-primary pull" th:data="${task.taskId}">领取</a>
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">领取形式</h4>
                                                    </div>
                                                    <div class="modal-body">


                                                        <label for="enddate">完成时间:</label>
                                                        <input type="text" class="jeinput" id="enddate"
                                                               placeholder="YYYY年MM月DD日">


                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary sure"
                                                        >确定
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" th:href="@{'/pool/'+${task.taskId}}" class="btn btn-primary detail">详情</a>

                                    </td>
                                </tr>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--  End  Bordered Table  -->
            </div>
        </div>


        <foot th:include="user/myTasks::copyright"></foot>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->

<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="assets/js/jquery-1.10.2.js" th:src="@{/assets/js/jquery-1.10.2.js}"></script>
<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../../static/assets/js/jquery.jedate.js" th:src="@{/assets/js/jquery.jedate.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        $("#logout").click(function(){
            $("#outfrom").submit();
        })
        $(".pull").click(function () {
            $(".sure").attr("data",$(this).attr("data"));
        })
        $(".sure").click(function () {
            if($("#enddate").val()==''){
                alert("请填写结束日期！");
                return;
            }
            $.get("/pool/pull", {task_id: $(this).attr("data"), eDate: $("#enddate").val()}, function (d) {
                window.location.href = "/pool/"
            });
        });
        //自定义格式选择
        $("#enddate").jeDate({
            format: "YYYY-MM-DD hh:mm:ss"
        });


        $(".surePasswd").click(function () {
            $.get("/editPassword", {passwd: $("#passwd").val()}, function (d) {
                alert("修改成功");
            });

        });
    })
</script>
<!-- Metis Menu Js -->
<script src="assets/js/jquery.metisMenu.js" th:src="@{/assets/js/jquery.metisMenu.js}"></script>
<!-- Morris Chart Js -->
<script src="assets/js/morris/raphael-2.1.0.min.js" th:src="@{/assets/js/morris/raphael-2.1.0.min.js}"></script>
<script src="assets/js/morris/morris.js" th:src="@{/assets/js/morris/morris.js}"></script>


<script src="assets/js/easypiechart.js" th:src="@{/assets/js/easypiechart.js}"></script>
<script src="assets/js/easypiechart-data.js" th:src="@{/assets/js/easypiechart-data.js}"></script>

<script src="assets/js/Lightweight-Chart/jquery.chart.js"
        th:src="@{/assets/js/Lightweight-Chart/jquery.chart.js}"></script>

<!-- Custom Js -->
<script src="assets/js/custom-scripts.js" th:src="@{/assets/js/custom-scripts.js}"></script>


<!-- Chart Js -->
<script type="text/javascript" src="assets/js/Chart.min.js" th:src="@{/assets/js/Chart.min.js}"></script>
<script type="text/javascript" src="assets/js/chartjs.js" th:src="@{/assets/js/chartjs.js}"></script>


</body>
</html>
