<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="owner/checkTasks::head"></head>
<body>

<!--<h1>Hello Spring Security</h1>-->
<!--<p>这个界面没有受保护，你可以进已被保护的界面.</p>-->


<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a th:replace="user/myTasks::navbar-brand"></a>
            <!--<div id="sideNav" href="">-->
            <!--<i class="fa fa-bars icon"></i>-->

            <!--</div>-->
        </div>


        <ul th:replace="user/myTasks::navbar"></ul>
    </nav>
    <!--/. NAV TOP  -->
    </nav>  <nav th:replace="user/myTasks::ltree"></nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                <div th:fragment="logout" sec:authorize="isAuthenticated()">
                    登录用户: <span sec:authentication="principal.cname"></span> |
                    用户角色: <span sec:authentication="principal.authorities"></span>

                </div>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">数据分析</li>
            </ol>

        </div>
        <div th:replace="user/myTasks::editPasswd"></div>
        <div id="page-inner" >
            <div class="col-md-12" style="height: 1000px">
                <!--    Bordered Table  -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        查询条件
                    </div>
                    <div class="panel-body">
                        <form th:action="@{/analyze/query/}" method="get">
                            <div class="form-group col-xs-6">
                                <label for="bbdate">时间（起）</label>
                                <input type="text" class="jeinput" id="bbdate" name="bbdate"
                                       placeholder="YYYY年MM月DD日">
                            </div>

                            <div class="form-group col-xs-6">
                                <label for="bedate">时间（止）</label>
                                <input type="text" class="jeinput" id="bedate" name="bedate"
                                       placeholder="YYYY年MM月DD日">
                            </div>


                            <div class="form-group">
                                <div class="col-sm-offset-10 col-sm-2">
                                    <!--<button class="form-control btn btn-default query">查询-->
                                    <input type="submit" class="form-control btn btn-default" value="查询"/>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
                <div id="container" style="height: 100%"></div>
            </div>

        </div>


        <foot th:include="user/myTasks::copyright"></foot>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<div th:replace ="owner/checkTasks::js1"></div>
<script type="text/javascript" th:inline="javascript">
    //<![CDATA[
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    app.title = '任务总量 - 条形图';

    option = {
        title: {
            text: '任务总量',
            subtext: '总-分'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['已办', '办结']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            data: [[${taskModel.users}]]
        },
        series: [
            {
                name: '已办',
                type: 'bar',
                data: [[${taskModel.taskCount}]]
            },
            {
                name: '办结',
                type: 'bar',
                data: [[${taskModel.taskFinallyCount}]]
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
    //]]>
    $(function () {
        //自定义格式选择t
        $("#bbdate").jeDate({
            format: "YYYY-MM-DD"
        });

        $("#bedate").jeDate({
            format: "YYYY-MM-DD"
        });
    });
</script>
<div th:replace ="owner/checkTasks::js2"></div>



</body>
</html>
