<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!--<head>-->
<!--<title>Hello Spring Security</title>-->
<!--<meta charset="utf-8" />-->
<!--<link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="" name="description"/>
    <meta content="webthemez" name="author"/>
    <title>BRILLIANT Free Bootstrap Admin Template</title>
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" th:href="@{/assets/css/bootstrap.css}"/>
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" th:href="@{/assets/css/font-awesome.css}"/>
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"
          th:href="@{/assets/js/morris/morris-0.4.3.min.css}"/>
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" th:href="@{/assets/css/custom-styles.css}"/>
    <!-- Google Fonts-->
    <!--<link href="http://fonts.useso.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>-->
    <link rel="stylesheet" href="assets/js/Lightweight-Chart/cssCharts.css"
          th:href="@{/assets/js/Lightweight-Chart/cssCharts.css}"/>
    <link href="../../static/css/jeDate-test.css" rel="stylesheet" th:href="@{/assets/css/jeDate-test.css}"/>
    <link href="../../static/css/jedate.css" rel="stylesheet" th:href="@{/assets/css/jedate.css}"/>
    <!-- TABLE STYLES-->
    <link href="assets/js/dataTables/dataTables.bootstrap.css"
          th:href="@{/assets/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet"/>
</head>
<body>

<!--<h1>Hello Spring Security</h1>-->
<!--<p>这个界面没有受保护，你可以进已被保护的界面.</p>-->


<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a th:replace="user/myTasks::navbar-brand"></a>

            <!--<div id="sideNav" href="">-->
            <!--<i class="fa fa-bars icon"></i>-->

            <!--</div>-->
        </div>


        <ul th:replace="user/myTasks::navbar"></ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a href="index.html" th:href="@{/pool/}"><i class="fa fa-dashboard"></i> 任务池</a>
                </li>
                <li>
                    <a href="ui-elements.html" th:href="@{/mytasks/}"><i class="fa fa-desktop"></i> 我的任务</a>
                </li>
                <li>
                    <a class="active-menu" href="ui-elements.html" th:href="@{/check/}"><i class="fa fa-desktop"></i>
                        任务审核</a>
                </li>
                <!--<li>-->
                <!--<a href="ui-elements.html" th:href="@{/test/}"><i class="fa fa-desktop"></i> 任务测试</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="ui-elements.html"><i class="fa fa-desktop"></i> 下任务</a>-->
                <!--</li>-->


            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                <div th:fragment="logout" sec:authorize="isAuthenticated()">
                    登录用户: <span sec:authentication="name"></span> |
                    用户角色: <span sec:authentication="principal.authorities"></span>

                </div>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">我的任务</li>
            </ol>

        </div>
        <div th:replace="user/myTasks::editPasswd"></div>

        <div id="page-inner">
            <div class="col-md-12">
                <!--    Bordered Table  -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        查询条件
                    </div>
                    <div class="panel-body">
                        <form action="/check/query">
                            <div class="form-group col-xs-6">
                                <label for="bbdate">领取时间（起）</label>
                                <input type="text" class="jeinput" id="bbdate" name="bbdate"
                                       placeholder="YYYY年MM月DD日">
                            </div>

                            <div class="form-group col-xs-6">
                                <label for="bedate">领取时间（止）</label>
                                <input type="text" class="jeinput" id="bedate" name="bedate"
                                       placeholder="YYYY年MM月DD日">
                            </div>

                            <div class="form-group col-xs-6">
                                <label for="status">任务状态</label>
                                <select class="selectbox" id="status" name="status" class="form-control">
                                    <option value="-1">-全选-</option>
                                    <option th:each="st: ${taskModel.taskstatus}" th:value="${st.key}"
                                            th:text="${st.value}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-10 col-sm-2">
                                    <button class="form-control btn btn-default query">查询</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


            <div th:if="${taskModel.task!=null}" th:include="user/taskDetail::detail"></div>

            <div class="col-md-12">
                <!--    Bordered Table  -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        审核列表
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-offset-9 col-sm-2">
                                <button class="form-control btn btn-default add">新增</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th width="10%">项目名称</th>
                                    <th width="10%">任务名称</th>
                                    <th width="10%">描述</th>
                                    <th width="10%">接受时间</th>
                                    <th width="10%">截止时间</th>
                                    <th width="10%">提交时间</th>
                                    <th width="10%">领取人</th>
                                    <th width="10%">组长</th>
                                    <th width="10%">状态</th>
                                    <th width="10%">操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr  th:each="task,iterStat: ${taskModel.taskList}" th:class="${task.istimeOut}?'warning'">

                                    <td  th:text="${iterStat.index}+1">0</td>
                                    <td th:text="${task.project.projectName}+1">0</td>
                                    <td th:text="${task.taskName}"></td>
                                    <td th:text="${task.remark}"></td>
                                    <td>
                                        <h5 th:text="${task.bDate!=null}?${#dates.format(task.bDate,'yyyy-MM-dd HH:mm')}:''"></h5>

                                    </td>
                                    <td>
                                        <h5 th:text="${task.eDate!=null}?${#dates.format(task.eDate,'yyyy-MM-dd HH:mm')}:''"></h5>
                                    </td>
                                    <td>
                                        <h5 th:text="${task.fDate!=null}?${#dates.format(task.fDate,'yyyy-MM-dd HH:mm')}:''"></h5>
                                    </td>
                                    <td>
                                        <h5 th:each="t,iterStat : ${task.receivers}" th:text=" ${t.cname}"></h5>
                                    </td>

                                    <td th:text="${task.project.user.cname}"></td>
                                    <td th:text="${task.finishName}"></td>
                                    <td>
                                        <a href="#" th:href="@{'/check/'+${task.taskId}}"
                                           class="btn btn-primary detail">详情</a>
                                        <a th:if="${task.finish==2}" href="#" data-toggle="modal" data-target="#myCheck"
                                           class="btn btn-primary check" th:data="${task.taskId}">审核</a>
                                        <a th:if="${task.finish==0}" href="#" data-toggle="modal"
                                           data-target="#myAssigned" class="btn btn-primary check"
                                           th:data="${task.taskId}">强派</a>
                                        <div class="modal fade" id="myCheck" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">请确认</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h3>请仔细检查是否完成</h3>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary sure">确认
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="myAssigned" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">请确认</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h3>请选择任务责任人</h3>
                                                        <div class="radio3" th:each="user : ${taskModel.users}">
                                                            <input type="radio" id="radio2" name="radio1"
                                                                   value="option2" th:data="${user.id}">
                                                            <label for="radio2" th:text="${user.cname}">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="button" class="btn btn-primary sure2">确认
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--  End  Bordered Table  -->
            </div>
        </div>


        <footer th:fragment="copyright">
            <p>Copyright &copy; 2018.By liuyf
            </p>
        </footer>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->

<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="assets/js/jquery-1.10.2.js" th:src="@{/assets/js/jquery-1.10.2.js}"></script>
<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../../static/assets/js/jquery.jedate.js" th:src="@{/assets/js/jquery.jedate.js}"></script>
<!-- Metis Menu Js -->
<script src="assets/js/jquery.metisMenu.js" th:src="@{/assets/js/jquery.metisMenu.js}"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="assets/js/dataTables/jquery.dataTables.js" th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
<script src="assets/js/dataTables/dataTables.bootstrap.js" th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        $("#logout").click(function(){
            $("#outfrom").submit();
        });
        $('#dataTables-example').dataTable();
        //自定义格式选择
        $("#bbdate").jeDate({
            format: "YYYY-MM-DD"
        });
        $("#bedate").jeDate({
            format: "YYYY-MM-DD"
        });
        $(".sure2").click(function () {
            var userid = $('input:radio[name="radio1"]:checked').attr("data");
            alert($(this).attr("data"));
            $.get("/check/assigned", {user_id: userid, task_id: $(this).attr("data")}, function (d) {
                window.location.href = "/check/"
            });
        });

        $(".check").click(function () {
            $(".sure").attr("data", $(this).attr("data"));
            $(".sure2").attr("data", $(this).attr("data"));
        })
        $(".sure").click(function () {
            // alert($(this).attr("data"));
            $.get("/check/done", {task_id: $(this).attr("data")}, function (d) {
                window.location.href = "/check/"
            });
        });

        $(".query").click(function () {
            $("form").submit();
            //   $.get("/check/query", $("form").serialize());
        });

        $(".add").click(function () {
                window.location.href = "/assigning/"
            }
        );
        $(".surePasswd").click(function () {
            $.get("/editPassword", {passwd: $("#passwd").val()}, function (d) {
                alert("修改成功");
            });

        });
    })
</script>

<!-- Morris Chart Js -->
<script src="assets/js/morris/raphael-2.1.0.min.js" th:src="@{/assets/js/morris/raphael-2.1.0.min.js}"></script>
<script src="assets/js/morris/morris.js" th:src="@{/assets/js/morris/morris.js}"></script>
<script src="assets/js/easypiechart.js" th:src="@{/assets/js/easypiechart.js}"></script>
<script src="assets/js/easypiechart-data.js" th:src="@{/assets/js/easypiechart-data.js}"></script>
<script src="assets/js/Lightweight-Chart/jquery.chart.js" th:src="@{/assets/js/Lightweight-Chart/jquery.chart.js}"></script>

<!-- Custom Js -->
<script src="assets/js/custom-scripts.js" th:src="@{/assets/js/custom-scripts.js}"></script>
<!-- Chart Js -->
<script type="text/javascript" src="assets/js/Chart.min.js" th:src="@{/assets/js/Chart.min.js}"></script>
<script type="text/javascript" src="assets/js/chartjs.js" th:src="@{/assets/js/chartjs.js}"></script>

</body>
</html>
